@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

.submenu-navbar {
    background: rgba(238, 237, 237, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(236, 236, 236, 0.18);
    box-shadow: 0 8px 32px 0 rgba(115, 115, 116, 0.37);
}
.BackgroundCardLogin {
    box-shadow: -2px 10px 24px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 10px 24px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 10px 24px -6px rgba(0, 0, 0, 0.75);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B597F6", endColorstr="#96C6EA", GradientType=1 );
}
.backgroundLogin {
    background: linear-gradient(45deg, #640986 0%, #e6e0f0 100%);
}
.card {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 2px 20px 0px rgba(71, 49, 197, 0.75);
    -moz-box-shadow: 0px 2px 20px 0px rgba(114, 90, 216, 0.75);
}

.text-shadow {
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}

.glass-card {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(115, 115, 116, 0.37);
}

.shadow-icon-whatsapp {
    box-shadow: -1px 4px 30px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -1px 4px 30px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 4px 30px -2px rgba(0, 0, 0, 0.75);
}
.sombra-logoHome {
    width: 560px;
    filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.5));
}
